<% @favorite_users.each do |favorite_user| %>
  <div class="favorite-user">
    <%= link_to gravatar_for(favorite_user, size: 25), favorite_user %>
    <span class="user">
      <%= favorite_user.name %>
    </span>
  </div>
<% end %>
