<%= form_with(model: Micropost.new, local: true) do |f| %>
  <!--object変数(key)に、参照しているオブジェクト(value)を渡す => パーシャルでobject変数を作成 -->
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "記事を書いて..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>