
<% provide(:title, "Post form") %>
<% provide(:button_text, '投稿') %>
<div class="row">
    <section class="user_info">      <%= render 'shared/user_info' %>      </section>
    <section class="post_form"> <%= render 'shared/post_form' %> </section> 
</div>